<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="crypteronConfig" type="Crypteron.CrypteronConfig, CipherCore, Version=2015, Culture=neutral, PublicKeyToken=e0287981ec67bb47" requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
  <appSettings>
    <add key="EndPointUrl" value="~your DocumentDB endpoint here~" />
    <add key="AuthorizationKey" value="~your auth key here~" />
  </appSettings>

  <crypteronConfig>
    <myCrypteronAccount appSecret="Replace this with App Secret from https://my.crypteron.com"/>
    <commonConfig allowNullsInSecureFields="true" />
  </crypteronConfig>
</configuration>
